<div class="formulario">
<form [formGroup]="myForm" (ngSubmit)="login()" autocomplete="on">

  <div class="title">
    <h3>Inicio de Sesion</h3>
  </div>

  <div class="container">
    <label class="form-label">Usuario</label>
    <input type="text"
    class="form-control"
    formControlName="email">
  </div>

  <div class="container">
    <label class="form-label">Password</label>
    <input type="password"
    class="form-control"
    formControlName="password">
  </div>

  <div class="button">
    <button class="btn btn-secondary" [disabled]="myForm.invalid"> Ingresar</button>
  </div>

<div class="otherOptions">
  <p>No tienes una cuenta, ingresa <a [routerLink]="['/auth/register']">aqui</a> </p>
</div>
</form>
</div>
