<form
  style="width:30%; border: solid 0.1px green; border-radius: 2%; height: 400px; padding: 20px; margin: auto; margin-top: 10%; background-color: whitesmoke;">
  <h4 style="">Inicio de Sesion</h4>
  <label for="input" class="form-label">Usuario</label>
  <input type="text" class="form-control" aria-describedby="passwordHelpBlock">

  <label for="inputPassword5" class="form-label">Password</label>
  <input type="password" class="form-control" aria-describedby="passwordHelpBlock">

  <button class="btn btn-secondary" style="margin-top: 15px;"> Ingresar</button>
  <p>No tienes una cuenta, ingresa <a href="/register">aqui</a> </p>

</form>
