.container{
  padding: 10px;
}

.formulario{
  padding: 15px;
  border: solid 0.5px, black;
  border-radius: 2%;
  width: 30%;
  margin-left: 27.5%;
  height: 80%;
  margin-top: 4%;
}

.title{
  text-align: center;
}

.button{
  margin-top: 10px;
  text-align: center;
}

.otherOptions{
  margin-top: 15px;
}




