<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
  <h5>Identificacion del Caso</h5>
  <hr>
  <!-- Select para elegir el tipo de caso -->
  <div class="identificacion-container">

    <div class="messages">
      <span *ngIf="isValidField('caseMP')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('caseMP')}}</span>
    </div>

    <div class="messages">
      <span *ngIf="isValidField('caseMP')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('caseMP')}}</span>
    </div>

    <select class="form-select" aria-label="Default select example" formControlName="tipoCaso">
      <option value="1">Selecciona una opcion</option>
      <option value="2">Alerta Alba-Keneth</option>
      <option value="3">Conflicto</option>
      <option value="4">Maltrato</option>
    </select>

    <div class="input-group mb-3">
      <span class="input-group-text">Numero Caso MP</span>
      <input type="text" class="form-control" formControlName="caseMP">
    </div>

    <div class="messages">
      <span *ngIf="isValidField('caseDEIC')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('caseDEIC')}}</span>
    </div>
    <div class="messages">
      <span *ngIf="isValidField('alertaNumber')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('alertaNumber')}}</span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Numero Caso Interno</span>
      <input type="text" class="form-control" formControlName="caseDEIC">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Numero de Alerta</span>
      <input type="text" class="form-control" formControlName="alertaNumber">
    </div>

  </div>

  <h5>Datos de la desaparicion</h5>
  <hr>

  <div class="desaparicion-container">

    <div class="messages">
      <span *ngIf="isValidField('name')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('name')}}</span>
    </div>
    <div class="messages">
      <span *ngIf="isValidField('edad')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('edad')}}</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Nombre</span>
      <input type="text" class="form-control" formControlName="name">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Edad</span>
      <input type="text" class="form-control" formControlName="edad">
    </div>

    <div class="messages">
      <span *ngIf="isValidField('lugar')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('lugar')}}</span>
    </div>

    <div class="messages">
      <span *ngIf="isValidField('gps')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('gps')}}</span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Lugar</span>
      <input type="text" class="form-control" formControlName="lugar">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Coordenadas</span>
      <input type="text" class="form-control" formControlName="gps">
    </div>

  </div>

  <h5>Datos de la investigacion</h5>
  <hr>

  <div class="investigador-container">

    <div class="messages">
      <span *ngIf="isValidField('investigador')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('investigador')}}</span>
    </div>

    <div class="messages">
      <span *ngIf="isValidField('investigador')" class="form-text text-danger"
        style=" margin-top: 5px;">{{getFieldError('investigador')}}</span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Investigador</span>
      <input type="text" class="form-control" formControlName="investigador">
    </div>

    <select class="form-select" aria-label="Default select example" formControlName="estadoCaso">
      <option value="1">Selecciona un estado</option>
      <option value="2">Informado</option>
      <option value="3">Concluido</option>
    </select>
  </div>

  <div class="buttons">
    <button type="button" class="btn btn-secondary">Cargar Informe</button>
    <button type="button" class="btn btn-secondary" (click)="onSave()">Guardar</button>
  </div>

</form>
