.identificacion-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.desaparicion-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.investigador-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-group, .form-select{
  width: 35%;
  margin: 10px;
}

h5{
  margin-top: 25px;
}

.buttons{
  margin-top: 25px;
  text-align: left;
}

.btn{
  margin: 15px;
}

.messages{
  width: 35%;
  font-size: 12px;
  margin: 0px;
}

.messages span{
  padding: 0px 10px 0px;
}

.investigacion{
  display: inline;
}


