<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="CargarCaso()">
  <h5>Identificacion del Caso</h5>
  <hr>
  <!-- Select para elegir el tipo de caso -->
  <div class="identificacion-container">

    <div class="messages">
      <span *ngIf="isValidField('mpNumber')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('mpNumber')}}</span>
    </div>

    <div class="messages">
      <span *ngIf="isValidField('mpNumber')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('mpNumber')}}</span>
    </div>

    <select class="form-select" aria-label="Default select example" formControlName="caseTipo">
      <option value="1">Selecciona un tipo de caso</option>
      <option value="Alerta">Alerta</option>
      <option value="Conflicto">Conflicto</option>
      <option value="Maltrato">Maltrato</option>
    </select>

    <div class="input-group mb-3">
      <span class="input-group-text">Numero Caso MP</span>
      <input type="text" class="form-control" formControlName="mpNumber">
    </div>

    <div class="messages">
      <span *ngIf="isValidField('deicNumber')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('deicNumber')}}</span>
    </div>
    <div class="messages">
      <span *ngIf="isValidField('alertaNumber')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('alertaNumber')}}</span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Numero Caso Interno</span>
      <input type="text" class="form-control" formControlName="deicNumber">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Numero de Alerta</span>
      <input type="text" class="form-control" formControlName="alertaNumber">
    </div>

  </div>

  <h5>Datos de la desaparicion</h5>
  <hr>

  <div class="desaparicion-container">

    <div class="messages">
      <span *ngIf="isValidField('desaparecidoName')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('desaparecidoName')}}</span>
    </div>
    <div class="messages">
      <span *ngIf="isValidField('desaparecidoAge')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('desaparecidoAge')}}</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Nombre</span>
      <input type="text" class="form-control" formControlName="desaparecidoName">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Edad</span>
      <input type="text" class="form-control" formControlName="desaparecidoAge">
    </div>

    <div class="messages">
      <span *ngIf="isValidField('desaparecidoLugar')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('desaparecidoLugar')}}</span>
    </div>

    <div class="messages">
      <span *ngIf="isValidField('desaparecidoGps')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('desaparecidoGps')}}</span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Lugar</span>
      <input type="text" class="form-control" formControlName="desaparecidoLugar">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Coordenadas</span>
      <input type="text" class="form-control" formControlName="desaparecidoGps">
    </div>
  </div>

  <h5>Datos de la investigacion</h5>
  <hr>

  <div class="investigador-container">

    <div class="messages">
      <span *ngIf="isValidField('investigadorName')" class="form-text text-danger"
        style="display: block; margin-top: 5px;">{{getFieldError('investigadorName')}}</span>
    </div>

    <div class="messages">
      <span *ngIf="isValidField('investigadorName')" class="form-text text-danger"
        style=" margin-top: 5px;">{{getFieldError('investigadorName')}}</span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Investigador</span>
      <input type="text" class="form-control" formControlName="investigadorName">
    </div>

    <select class="form-select" aria-label="Default select example" formControlName="investigacionStatus">
      <option value="1">Selecciona el estado del caso</option>
      <option value="Informado">Informado</option>
      <option value="Concluido">Concluido</option>
    </select>
  </div>

  <div class="buttons">
    <button type="submit" class="btn btn-secondary" [disabled]="myForm.invalid">Guardar</button>
  </div>
</form>
